@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body, #root {
  min-height: 0;
  min-width: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 200px;
  overflow: auto;
}

:root {
  font-family: Inter, sans-serif;
  font-size: 1em;
  line-height: auto;
  font-weight: 400;

  color: #ffffff;
  background: #202075;
  background: radial-gradient(circle,#202075 0%, #2f254a 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[text-style="display"] {
  font-family: Bricolage Grotesque, sans-serif;
  color: #ffffff;
}

[color-type="accent-color"] {
  color: #c56ec9;
}

[color-type="icon-color"] {
  color: #ffffff;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  align-items: center;
  /* outline: 1px solid white; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: inherit;
  color: inherit;
  border: 0px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: filter 0.4s;
}
button:hover {
  filter: brightness(1.2);
}
button:focus {
  outline: none;
}
span {
  margin: 0;
}
input {
  margin: 0;
}
hr {
  border: none;
  border-top: 3px solid #ef9067;
  box-shadow: 0px 0px 30px #ef9067;
  border-radius: 999px;
  width: 80%;
  box-sizing: border-box;
  align-self: center;
}
.hr {
  width: 4px;
  display: block;
  background: #3c3c3c;
  margin: 4px 8px;
  border-radius: 999px;
}

.scrollable::-webkit-scrollbar {
  width: 18px;
}
.scrollable::-webkit-scrollbar-track {
  background: #2a2a2a;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #ffffff22;
  border-radius: 10px !important;
  border: 5px solid #2a2a2a; /* match background to create spacing */
  }

.scrollable.light-bg::-webkit-scrollbar-thumb {
  border: 5px solid #2a2a2a; /* match background to create spacing */
  }

.scrollable.dark-bg::-webkit-scrollbar-thumb {
  border: 5px solid #222222;
  }

.specular {
  border-radius: 7px;
  background-image: 
    linear-gradient(var(--specular-color)), /* background fill */
    linear-gradient(var(--specular-angle, 45deg), var(--bleed-color-1, #ffffff6b) 0%, var(--bleed-color-2, #ffffff11) 20%, #ffffff00 50%,var(--bleed-color-3, #ffffff3f) 80%, var(--bleed-color-4, #ffffffbb) 100%); /* gradient border */
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 1px;
  box-shadow: 0px 3px 10px #00000033;
  transition: box-shadow 0.4s;
}

.specular.dynamic:hover {
  background-image: 
    linear-gradient(var(--specular-color)),
    linear-gradient(var(--specular-angle, 45deg), var(--bleed-color-1) 0%, var(--bleed-color-2) 20%, #ffffff00 50%,var(--bleed-color-3) 80%, var(--bleed-color-4) 100%);
  box-shadow: 0px 5px 8px #00000066;
  }

.specular-appearance {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.2px;
  background-color: #ffffff33;
  padding: 8px 15px;
  border-radius: 5px;
  position: relative;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
.specular-appearance.accent {
  color: #fcb090;
}